# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# OS
.DS_Store
*.pem

# Debug
.vscode/
.idea/

# Temporary files
*.orig.*
*.log
*.cache
